src/test/resources/xsd/testcase.xsd

<?xml version="1.0"?>

<schema version="1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tc="testcase"
        xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb bindingschema_2_0.xsd"
        targetNamespace="testcase"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        jxb:version="2.1">
    
    <annotation>
        <appinfo>
            <jxb:schemaBindings>
                <jxb:package name="ch.mab.tc.jaxb"/>
            </jxb:schemaBindings>
        </appinfo>
    </annotation>

    <element name="testcase" type="tc:testcaseType"/>
    
    <element name="kontoauszug" type="tc:kontoauszugType"/>

    <complexType name="testcaseType">
        <sequence>
            <element name="inkassoFall" minOccurs="1" maxOccurs="unbounded" type="tc:inkassoFallType"/>
            <element name="when" type="tc:whenType" minOccurs="1"/>
            <element name="then" type="tc:thenType" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="inkassoFallType">
        <sequence>
            <element name="faktura" minOccurs="0" maxOccurs="unbounded" type="tc:fakturaType"/>
        </sequence>
        <attribute name="id" type="ID" use="required"/>
        <attribute name="zpvnr" type="int" use="required" />
        <attribute name="forderungsart" type="tc:forderungsartType" use="required"/>
        <attribute name="forderungsjahr" type="tc:jahrType" use="required"/>
        <attribute name="falllaufnr" type="int"/>
        <attribute name="bezugsgemeinde" type="string"/>
    </complexType>

    <complexType name="fakturaType">
        <sequence>
            <element name="position" maxOccurs="unbounded" type="tc:positionType"/>
        </sequence>
        <attribute name="id" type="ID" use="required"/>
        <attribute name="valuta" type="date" use="required"/>
        <attribute name="belegart" type="tc:belegartFakturaType" use="required"/>
    </complexType>


    <complexType name="positionType">
        <all>
            <element name="kategorie" type="tc:kategorieType"/>
            <element name="institution" type="tc:institutionType"/>
            <element name="betrag" type="decimal"/>
        </all>
    </complexType>

    <complexType name="kategorieType">
        <attribute name="type" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value='betreibungskosten'/>
                    <enumeration value='einkommenssteuer'/>
                    <enumeration value='erbschaftssteuer'/>
                    <enumeration value='feuerwehrdienstersatzabgabe'/>
                    <enumeration value='geabg'/>
                    <enumeration value='gebuehren'/>
                    <enumeration value='gerichtskosten'/>
                    <enumeration value='grundstueckgewinnsteuer'/>
                    <enumeration value='gewinnsteuer'/>
                    <enumeration value='holdingsteuer'/>
                    <enumeration value='kapitalsteuer'/>
                    <enumeration value='kirchensteuer'/>
                    <enumeration value='kosten'/>
                    <enumeration value='liegenschaftssteuer'/>
                    <enumeration value='lotteriegewinn'/>
                    <enumeration value='mahngebuehren'/>
                    <enumeration value='mehrwertsteuer'/>
                    <enumeration value='nach_und_strafsteuer'/>
                    <enumeration value='ordendliche_forderung'/>
                    <enumeration value='ordnungsbusse'/>
                    <enumeration value='pastaquell'/>
                    <enumeration value='provision'/>
                    <enumeration value='rueckerstattung'/>
                    <enumeration value='rueckzahlung'/>
                    <enumeration value='schenkungssteuer'/>
                    <enumeration value='schwellentelle'/>
                    <enumeration value='sonderveranlagung'/>
                    <enumeration value='sonderveranlagung_kapitalleistungsart_5'/>
                    <enumeration value='uebertrag_von_amtes_wegen'/>
                    <enumeration value='unendgeldliche_prozessfuehrung'/>
                    <enumeration value='verguetungszins'/>
                    <enumeration value='verlustschein'/>
                    <enumeration value='vermoegenssteuer'/>
                    <enumeration value='verrechnungssteuer'/>
                    <enumeration value='verzugszins'/>
                    <enumeration value='vorauszahlungszins'/>
                    <enumeration value='wartekonto'/>
                    <enumeration value='wehrdienstersatzabgabe'/>
                    <enumeration value='zahlung'/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="subtype" type="string"/>
    </complexType>

    <complexType name="institutionType">
        <attribute name="art" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value='bund'/>
                    <enumeration value='kanton'/>
                    <enumeration value='gemeinde'/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="nummer">
            <simpleType>
                <restriction base="int">
                    <minInclusive value="1"/>
                    <maxInclusive value="9999"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <simpleType name="forderungsartType" >
        <restriction base="string">
            <enumeration value="BST_NP"/>
            <enumeration value="BST_JP"/>
            <enumeration value="DBS_NP"/>
            <enumeration value="DBS_JP"/>
        </restriction>
    </simpleType>

    <simpleType name="jahrType">
        <annotation>
            <appinfo>
                <jxb:javaType name="java.time.Year" 
                              parseMethod="ch.mab.tc.TypeConverter.parseYear"
                              printMethod="ch.mab.tc.TypeConverter.printYear"/>
            </appinfo>
        </annotation>
        <restriction base="int">
            <minInclusive value="2000"/>
            <maxInclusive value="2100"/>
        </restriction>
    </simpleType>

    <complexType name="whenType">
        <all>
            <element name="esr" type="tc:esrTyp"/>
        </all>
    </complexType>


    <complexType name="esrTyp">
        <attribute name="art" type="tc:esrArtType" use="required"/>
        <attribute name="faktura" type="IDREF"/>
        <attribute name="betrag" type="tc:betragType" use="required"/>
    </complexType>

    <simpleType name="esrArtType">
        <restriction base="int">
            <enumeration value="1"/>
            <enumeration value="2"/>
            <enumeration value="3"/>
            <enumeration value="4"/>
            <enumeration value="5"/>
        </restriction>
    </simpleType>

    <simpleType name="veranlagungscodeType">
        <restriction base="string">
            <enumeration value="orovisorisch"/>
            <enumeration value="definitv"/>
        </restriction>
    </simpleType>

    <simpleType name="belegartFakturaType">
        <restriction base="string">
            <enumeration value='ratenrechnung'/>
            <enumeration value='registerereignis'/>
            <enumeration value='schlussabrechnung'/>
            <enumeration value='partner'/>
            <enumeration value='trennung'/>
            <enumeration value='provisorische_abrechnung'/>
            <enumeration value='provisorische_steuerrechnung'/>
            <enumeration value='entscheidrechnung'/>
            <enumeration value='rueckgabe'/>
            <enumeration value='erlassentscheidrechnung'/>
            <enumeration value='betreibungskostenrechnung'/>
            <enumeration value='steuerausscheidung'/>
            <enumeration value='abrechnung'/>
            <enumeration value='zinskorrektur'/>
            <enumeration value='rueckzahlungsrechnung'/>
            <enumeration value='abschreibungsrechnung'/>
            <enumeration value='inkasso_auftrag'/>
            <enumeration value='mahngebuehr'/>
            <enumeration value='storno'/>
            <enumeration value='korrektur'/>
            <enumeration value='reaktivierung'/>
            <enumeration value='pseudosollstellung'/>
        </restriction>
    </simpleType>
    
    <simpleType name="belegartMinderungType">
        <restriction base="string">
            <enumeration value='zahlung'/>
            <enumeration value='verrechnung'/>
            <enumeration value='rueckzahlung'/>
            <enumeration value='umbuchung'/>
            <enumeration value='verrechnungssteuer'/>
            <enumeration value='verrechnungssteuerumbuchung'/>
            <enumeration value='abschreibung'/>
            <enumeration value='restanz'/>
            <enumeration value='erlass'/>
            <enumeration value='verguetungszins'/>
            <enumeration value='provision'/>
            <enumeration value='vorauszahlungszins'/>
            <enumeration value='rueckerstattung'/>
            <enumeration value='uebertrag'/>
            <enumeration value='abzug'/>
            <enumeration value='ast'/>
            <enumeration value='abgerechnete_qst'/>
        </restriction>
    </simpleType>
    
    <simpleType name="belegartType">
        <union memberTypes="tc:belegartFakturaType tc:belegartMinderungType"/>
    </simpleType>

    <simpleType name="betragType">
        <restriction base="decimal">
            <fractionDigits value="2"/>
        </restriction>
    </simpleType>

    <complexType name="thenType">
        <all>
            <element name="kontoauszug" type="tc:kontoauszugType"/>
        </all>
    </complexType>

    <complexType name="kontoauszugType">
        <sequence>
            <element name="position" type="tc:positionType" maxOccurs="unbounded" />
        </sequence>
        <attribute name="valuta" type="date" use="required" />
        <attribute name="belegart" type="tc:belegartType" use="required"/>
        <attribute name="konto" type="string" />
        <attribute name="storno" type="boolean"/>
    </complexType>
</schema>